html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: #e0e0e0;
}

header, footer{
    background-color: rosybrown;
    display: flex;
    justify-content: space-between;
    height: 60px;
    position: sticky;
    width: 100%;
    z-index: 10;
}
footer {
    bottom: 0;
    left: 0;
}

header {
    top: 0;
    left: 0;
}

.logo, .login {
    width: 60px;
    height: 60px;
    vertical-align: middle;
    align-content: center;
   
}

#contact-div {
    margin-left: 2%;
    vertical-align: middle;
    align-content: center;  
}

#socialmedia{
    float:right;
    vertical-align: middle;
    align-content:center;
    margin-right: 2%;
}

#copyright-div {
    vertical-align: text-bottom;
    align-content:center;
   
}

.radisson {
    margin: 2% 4% 0 4%;
    width: 500px;
    height: 350px;
}

.form-div {
   width: 25%;
   
}

.booking-div input:focus {
    outline: auto black;
 }

h5 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.desc-div {
    margin: 1% 4% 2% 20px;
}
#socialmedia img {
    width: 22px;
    height: 20px;
}

a { 
    color: black;
    text-decoration: none;
}

.booking-div {
    display: flex;
    margin: 20px;
    height: 400px;
    border: 1px black solid;
    text-align: start;
}

.img-div {
   width: 75%;
   border-right: 1px solid black;
   text-align: center;
}



.form-row {
    display: flex;
    justify-content: center;
    padding: .5em;
    margin: 15px;
  }
  .form-row > label {
   
    flex: 1;
  }
  .form-row > input {
    flex: 2;
    width: 60%;
  }
  .form-row > input,
  .form-row > button {
    padding: .5em;
  }
  .form-row > button {
   border: 0;
   align-content: flex-start;
  }