html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}


.logo {
    width: 60px;
    height: 60px;
}

.radisson {
    width: 500px;
    height: 500px;
}

#socialmedia img {
    width: 22px;
    height: 20px;
}