html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

header, footer{
    background-color: rosybrown;
    display: flex;
    justify-content: space-between;
    height: 60px;
    position: sticky;
    width: 100%;
    z-index: 10;
}
footer {
    bottom: 0;
    left: 0;
    margin-top: 50px;
}

header {
    top: 0;
    left: 0;
}

label {
    margin: 10px;
}


.modal-body {
   align-content: center;
   width: 100%;
}

.modal-header {
    font-family: "Comic Sans MS";
}


ul {
    display: inline-block;
    justify-content: center;
   margin: 10px;
   font-family: "Comic Sans MS";
}

/* #map-view{
    display: none;
} */

.nav-tabs .nav-link.active, .nav-item.active{
    background-color: rgb(30,144,255);
    color: black;
    
}


body {
    background-color: #e0e0e0;
}

.logo {
    width: 60px;
    height: 60px;
    margin-left: 1%;
}
.login {
     margin-right: 2%;
}
.logo, .login {
   
    vertical-align: middle;
    align-content: center;
}

#contact-div {
    margin-left: 2%;
    vertical-align: middle;
    align-content: center;  
}

.modal-backdrop {
    position: relative;
    z-index: -1
 }


#socialmedia{
    float:right;
    vertical-align: middle;
    align-content:center;
    margin-right: 2%;
}

#copyright-div {
    vertical-align: text-bottom;
    align-content:center;
   
}


#list-view img {
    width: 250px;
    height: 200px;
}

#list-view {
    margin-left: 20px;
}

.hotel-div {
    width: 80%;
    margin: 2%;
    background-color: lightgrey;
    display: flex;
    text-align: top;
}
#desc {
   margin-top: 10px;
    align-content:flex-start
}

#socialmedia img {
    width: 22px;
    height: 20px;
}

.hotel-div #desc {
    float: right;
    margin-left: 10px;
    text-align: left;
    justify-content: center;
}
.hotel-div:hover {
    background-color: rosybrown;
}
.btn-default:focus, .btn-default.active {
    color: black;
    background-color:blue;
    text-decoration: none;
}