html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}



footer{
    background-color: rosybrown;
    display: flex;
    justify-content: space-between;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

header{
    background-color: rosybrown;
    display: flex;
    justify-content: space-between;
    height: 60px;
    position: sticky;
    width: 100%;
    z-index: 10;
}

footer {
    bottom: 0;
    left: 0;
}

header {
    top: 0;
    left: 0;
}

.logo, .login {
    width: 60px;
    height: 60px;
    vertical-align: middle;
    align-content: center;
   
}

#contact-div {
    margin-left: 2%;
    vertical-align: middle;
    align-content: center;  
}

#socialmedia{
    float:right;
    vertical-align: middle;
    align-content:center;
    margin-right: 2%;
}

.content-div{
  display: flex;  
  flex-direction: column;
  z-index: 500;
  
}
.booking-info {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1% 2% 1% 2%;
    margin: 0 2% 0 2%;
    background-color: rosybrown;
}
#copyright-div {
    vertical-align: text-bottom;
    align-content:center; 
}

a { 
    color: black;
    text-decoration: none;
}
#pay {
    
    margin-bottom: 30px;
}

.radisson-div {
    display: flex;
    background-color: rgb(132,136,139);
    width: 50%;
    height: 20%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    vertical-align: middle;
}


.radisson img {
    width: 300px;
    height: 270px;
}

.hotel-desc {
   align-self: center;
   padding: 0 0 0 20px;
   width: 100%;
}
.customer-info, .tariff, #pay {
    align-self: center;
}



#socialmedia img {
    width: 22px;
    height: 20px;
}

h2, .booking-info p {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }

